
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
    font-family: Roboto, sans-serif;
    background-color: #bdbdbd;
}
header, footer {
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: rgb(86, 156, 226);
}
h1 {
    text-align: center;
    color: white;
}
h3 {
    text-align: center;
}
nav {
    display: none;
}
nav a {
    padding: 5px;
    color: white;
    display: block;
    text-align: center;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    margin: auto;
    display: block;
}
footer {
    text-align: center;
    color: white;
}
.gallery {
    text-align: center;
    margin: auto;
    max-width: 1200px;
}
img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.9);
    margin: 20px;
    padding: 10px;
    background-color: white;
}
.unhide {
    display: inline;
}

/* modal */

dialog img {
    width: auto;
    height: auto;
    max-width: 96%;
    max-height: 96%;
    display: block;
    margin: auto;
    object-fit: contain;
}
dialog {
    width: auto;
    max-width: 100vw;
    max-height: 100vh;
    height: auto;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 90vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px 6px;
    font-size: 1.5em;
    background-color: rgba(0,0,0,.75);
    color: white;
}
.dialog-container {
    box-sizing: border-box; /* includes padding in width/height */
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: auto;
    position: relative;
}

@media screen and (min-width: 1100px) {
nav a {
    display: inline;
}
nav {
    margin: auto;
    display: block;
    text-align: center;
}
.menu-btn {
    display: none;
}
}


