body {
    background-color: #ffffff;
    font-size: 20px;

    border: 1px solid rgb(89, 89, 89);
    font-family: 'Times New Roman', Times, serif;
    max-width: 900px;
    margin: 20px auto 20px auto;


}

#content {
    max-width: 750px;
    margin: auto;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

#topics {
    width: 600px;
    margin: auto;
    text-align: left;
    line-height: 1.6;
    justify-content: center;
}

#divider {
    border: 1px solid rgb(196, 196, 196);
    max-width: 600px;
    margin: 0px auto 20px auto;
}

#bluetxt {
    color: rgb(54, 123, 226);
    letter-spacing: 3px;
    margin: 0px;
}

li {
    text-align: left;
}

#image {
    display: block;
    margin: 10px auto 60px auto;
    width: 120px;
}
